<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
</head>

<body>

	<h1>Formulario</h1>
	<form action="" method="post">
		<h3>Nome</h3><input type="text" name="nome" />
		<h3>E-mail</h3><input type="email" name="email"/>
		<h3>Telefone</h3><input type="tel" name="tel" />
		<h3>Curso</h3><input type="text" name="curso" />
		
		<button type="submit">Salvar</button>
	</form>
</body>

</html>